* {
    background-color: white;
    padding: 0 px;
}

body {
    max-width: 500 px;
    color: rgb(78, 68, 68);
    font-size: 1.2 rem;
    font-family: Open-sans, "Helvetica Neue", sans-serif;
    line-height: 1, 65;
}